@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Space+Grotesk:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
}

button {
    border: none;
    background-color: #d12b2b;
    border-radius: 6px;
    padding: .8em 1.2em;
    color: #fefefe;
    font-size: .8rem;
}

/* HEADER SECTION STYLES*/

section#header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fefefe;
    background-color: #0000ff;
    font-size: .8rem;
    padding: 1em;
    z-index: 1;
}

section#header header {
    width: 30%;
    text-align: center;
}

section#header h1 a:hover, 
section#header div.user a:hover {
    text-decoration: none;
}

section#header nav {
    width:45%;
    padding: .4em;
}

section#header a {
    text-decoration: none;
    padding: .4em;
    margin-right: 27px;
    color: #fefefe;
}

section#header a:hover {
    text-decoration: underline dotted #fefefe 2.5px;
    text-underline-offset: 3px;
}

section#header div.intro-head {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 440px;
}

section#header div.intro-head div.brand {
    padding: 4em 6em;
} 

section#header div.intro-head div.brand h1 {
    font-size: 4.9em;
    font-family: 'Space Grotesk', sans-serif;
    text-align: justify;
    line-height: 64px;
}

section#header div.intro-head div.brand h1 span {
    color: #8250ff;
    font-family: 'Space Grotesk', sans-serif;
    text-align: end;
    font-size: 3.7rem;
}

section#header div.intro-head div.brand p {
    text-align: justify;
    margin: 1.3em 0;
}

section#header div.intro-head div.brand > div.header-social {
    font-size: .9em;
}

section#header div.intro-head div.brand > div.header-social i {
    margin: 14px 4px;
    font-size: 1.3em;
}

section#header div.intro-head div.brand button {
    margin-left: -7px;
}

section#header div.intro-head img {
    width: 85%;
    margin-top: 46px;
    opacity: .8;
    filter: saturate(6.4) hue-rotate(179deg);
}

/* CONTENT SECTION STYLES */
section#content {
    background-color: #d3f0fa;
}

section#content div.after-head {
    position: relative;
    top: -43px;
    width: 100%;
    height: 95px;
    background-color: #d3f0fa;
    overflow: hidden;
    transform: skewY(3.9deg);
}

section#content div.after-head > div.empty1 {
    width: 23%;
    height: 100px;
    background-color: red;
    position: absolute;
    right: 0;
    top: -90px;
}

section#content div.after-head > div.empty2 {
    width: 33%;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 130px;
    top: -90px;
}

section#content div.partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 2.3em;
    padding-bottom: 3em;
    border-bottom: 1.3px solid #7a7aeb4d;
    margin-top: -23px;
}

section#content div.partners p {
    grid-column: 1/-1;
    font-size: .8rem;
}

section#content div.partners i {
    max-width: 60%;
    color: #0000ff;
}

section#content div.customer-trust {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
}

section#content div.customer-trust img {
    width: 100%;
    height: 530px;
    object-fit: contain;
    filter: hue-rotate(219deg) invert(100%);
}

section#content div.customer-trust div.cust-trust-cont {
    width: 75%;
}

section#content div.customer-trust h2 {
    font-size: 2rem;
}

section#content div.customer-trust p {
    margin: 1.3em 0;
}

section#content div.customer-trust div.rating p {
    float: left;
    margin-right: 12px;
    width: 25%;
    font-size: .8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section#content div.customer-trust div.rating::after {
    content: "";
    clear: both;
    display: block;
}

section#content div.customer-trust div.rating span {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    color: #c60303;
    font-family: 'Space Grotesk', sans-serif;
}

section#content div.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem 1rem;
    justify-items: center;
    /* background-color: #c4ebf9; */
    background: #c4ebf9 url(../images/header-bg.png) no-repeat fixed left;
    padding: 1em 3.4em;
}

section#content div.services-cards div:first-of-type {
    grid-column: 1/-1;
    width: 35%;
    text-align: center;
}

section#content div.services-cards div:first-of-type h2 {
    font-size: 1.9rem;
    margin: 22px;
    text-decoration: overline #4408d2;
}

section#content div.services-cards div:first-of-type p {
    margin: 7px 22px;
    font-size: .9rem;
}

section#content div.services-cards div:not(:first-of-type) {
    width: 70%;
    background-color: #f6f6f6;
    padding: 22px;
    font-size: .7rem;
    box-shadow: 0 0 2px #4408d266;
    border-radius: 4px;
}

section#content div.services-cards div:not(:first-of-type) i {
    font-size: 1.3em;
    color: #4408d2;
}

section#content div.services-cards div:not(:first-of-type) h2 {
    margin: 6px 0 12px 0;
}

section#content div.solution-house {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}

section#content div.solution-house img {
    width: 100%;
    filter: contrast(294%) hue-rotate(350deg);
}

section#content div.solution-house div.solution {
    padding: 1.3em 2.6em;
    width: 80%;
}

section#content div.solution-house div.solution h2 {
    font-size: 2em;
    line-height: 33px;
}

section#content div.solution-house div.solution p {
    margin: 21px 0;
    font-size: .9rem;
    text-align: justify;
}

section#content div.solution-house div.solution p:first-of-type {
    font-weight: 700;
    text-align: left;
}

section#content div.solution-house div.solution a {
    text-decoration: none;
    background-color: #d12b2b;
}


section#content div.testimonial {
    position: relative;
}

section#content div.testimonial img {
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}

section#content div.testimonial div.testimony  {
    width: 35%;
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translate(0, -50%);
    background-color: #d3f0fa;
    padding: 2em;
    border-radius: 8px;
}

section#content div.testimonial div.testimony h2 {
    font-size: 1.5rem;
}

section#content div.testimonial div.testimony p {
    font-size: .8rem;
    margin: 23px 0;
}

section#content div.after-head > .empty3 {
    background-color: red;
    height: 100px;
    width: 15%;
    position: absolute;
    bottom: 83px;
}

section#content div.after-head > .empty4 {
    background-color: orange;
    height: 100px;
    width: 35%;
    position: absolute;
    bottom: 83px;
    left: 480px;
}

section#content div.blogs {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-items: center;
    justify-content: center;
}

section#content div.blogs img {
    width: 100%;
}

section#content div.blogs > h2 {
    grid-column: 1/-1;
}

section#content div.blogs > p {
    grid-column: 1/-1;
}

section#content div.blogs > p:last-of-type {
    grid-column: 1/-1;
}

section#content div.blogs div.blog-post {
}