@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Space+Grotesk:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER SECTION STYLES*/

section#header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fefefe;
    background-color: #0000ff;
    font-size: .8rem;
    padding: 1em;
}

section#header header {
    width: 30%;
    text-align: center;
}

section#header h1 a:hover, 
section#header div.user a:hover {
    text-decoration: none;
}

section#header nav {
    width:45%;
    padding: .4em;
}

section#header a {
    text-decoration: none;
    padding: .4em;
    margin-right: 27px;
    color: #fefefe;
}

section#header a:hover {
    text-decoration: underline dotted #fefefe 2.5px;
    text-underline-offset: 3px;
}

section#header div.user button,
section#header div.intro-head div.brand button {
    border: none;
    background-color: #d12b2b;
    border-radius: 6px;
    padding: .8em 1.2em;
    color: #fefefe;
    font-size: .8rem;
}

section#header div.intro-head {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
}

section#header div.intro-head div.brand {
    padding: 4em 6em;
} 

section#header div.intro-head div.brand h1 {
    font-size: 4.9em;
    font-family: 'Space Grotesk', sans-serif;
    text-align: justify;
    line-height: 64px;
}

section#header div.intro-head div.brand h1 span {
    color: #8250ff;
    font-family: 'Space Grotesk', sans-serif;
    text-align: end;
    font-size: 3.7rem;
}

section#header div.intro-head div.brand p {
    text-align: justify;
    margin: 1.3em 0;
}

section#header div.intro-head div.brand > div.header-social {
    font-size: .9em;
}

section#header div.intro-head div.brand > div.header-social i {
    margin: 14px 4px;
    font-size: 1.3em;
}

section#header div.intro-head div.brand button {
    margin-left: -7px;
}

section#header div.intro-head img {
    width: 85%;
    margin-top: 46px;
    opacity: .8;
    filter: saturate(6.4) hue-rotate(179deg);
}

/* CONTENT SECTION STYLES */
section#content {
    height: 400px;
    background-color: #d9d9fe;
    transform: skewY(2deg);
    margin-top: -29px;
}